$text-color: #403F3D;
$text-color-light: #E1D4C9;
$text-color-coffee: #B0907A;
$font: 'Inter', sans-serif;

header {
    position: relative;
    display: grid;
    grid-template-columns: 100px 1fr 72px;
    align-items: center;
    margin-bottom: 20px;
    .logo {
        cursor: pointer;
    }
    nav {
        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;
            gap: 40px;
            li {
                a {
                    font-family: $font;
                    font-weight: 600;
                    line-height: 150%;
                    text-decoration: none;
                    color: $text-color;

                    position: relative;
                    line-height: 1;
                }
                a:after {
                    display: block;
                    position: absolute;
                    bottom: -4px;
                    width: 0;
                    height: 2px;
                    background-color: $text-color;
                    content: "";
                    transition: width 0.3s ease-out;
                }
            
                a:hover:after,
                a:focus:after {
                    width: 100%;
                }
            }
        }
    }

    .menu_item {
        position: relative;
        cursor: pointer;
        display: flex;
        width: 72px;
        height: 28px;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
        margin: 0 auto;
        line-height: 1;
        a {
            text-decoration: none;
            font-family: $font;
            font-weight: 600;
            line-height: 150%;
            color: $text-color;
        }
    }
    .menu_item:after {
        display: block;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $text-color;
        content: "";
        transition: width 0.3s ease-out;
    }

    .menu_item:hover:after,
    .menu_item:focus:after {
        width: 100%;
    }

    .hamburger-wrapper {
        display: none;
        position: absolute;
        cursor: pointer;
        right: 0px;
        .hamburger {
            display: flex;
            width: 44px;
            height: 44px;
            justify-content: center;
            align-items: center; 
            border-radius: 50%;
            border: 1px solid #665F55;
            .span-wrapper {
                width: 16px;
                height: 8px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;    
                .span-1 {
                    display: block;
                    width: 16px;
                    height: 1px;
                    background: #403F3D; 
                }
                .span-2 {
                    display: block;
                    width: 16px;
                    height: 1px;
                    background: #403F3D; 
                }
            }
        }
    }

}

.hero {
    position: relative;
    border-radius: 40px;
    height: 644px;
    background: url(../../../img/img-hero.jpg) center center /cover no-repeat;
    margin-bottom: 100px;
    padding: 100px 100px;
    .offer {
        position: absolute;
        display: flex;
        max-width: 530px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        margin: 0;
        h1 {
            color: $text-color-light;
            font-family: $font;
            font-size: 4.5rem;
            font-weight: 600;
            line-height: 105%; 
            span {
                font-style: italic;
                color: $text-color-coffee;
            }
        }
        p {
            font-family: $font;
            color: $text-color-light;
            font-weight: 400;
            line-height: 150%;
        }
        .offer_primary {
            display: flex;
            cursor: pointer;
            width: 200px;
            padding: 20px 78px;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            border-radius: 100px;
            background: $text-color-light;
            border: none;
            transition: 0.5s;
            .menu_span {
                font-family: $font;
                color: $text-color;
                font-size: 16px;
                font-weight: 600;
                line-height: 150%;
            }
            .menu_img {
                background: url("../../../icons/coffee-cup.svg") center center/cover no-repeat;
                width: 20px;
                height: 20px;
            }
        }
        .offer_primary:hover {
            transition: 0.5s;
            padding: 20px 63px;
        }   
    }
}